{% assign _summaruy      = include.summary  %}
{% assign _code          = include.code     %}
{% assign _open          = include.open     %}

{%- assign _details_attr = "" -%}
{%- if _open==true -%}
  {%- assign _details_attr = _details_attr | append: " open" -%}
{%- endif -%}

<div class="details-wrapper">
  {%- if _summaruy -%}
    <div class="summary-content">{{ _summaruy }}</div>
  {%- endif -%}
  <details {{ _details_attr }}>
    <summary class="summary-toggle" title="click to show details">
      <i class="summary-toggle-icon fas fa-angle-double-down"></i>
    </summary>
    <div class="content">
      {{ _code }}
    </div>
  </details>
</div>