// logo colors
$logo-colors: (
  mail-color:       #0072c5,
  facebook-color:   #4267b2,
  twitter-color:    #1da1f2,
  weibo-color:      #e6162d,
  google-plus-color:#ea4335,
  telegram-color:   #32afed,
  medium-color:     #000,
  zhihu-color:      #0084ff,
  douban-color:     #42bd56,
  linkedin-color:   #1074af,
  github-color:     #000,
  npm-color:        #fff,
)
