/* stylelint-disable scss/no-global-function-names */
@mixin scrollbar($size: default, $color-track: default, $color-thumb: default) {
  @if $size == default {
    $size: 8px;
  }
  @if $color-track == default {
    $color-track: rgb(222, 220, 220);
  }
  @if $color-thumb == default {
    $color-thumb: rgb(136, 136, 136);
  }
  &::-webkit-scrollbar {
    display: initial;
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-track {
    background: $color-track;
    border-radius: $size / 2;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-thumb;
    border-radius: $size / 2;
    &:hover { background: get-color-adjust($color: $color-thumb, $level: 3); }
    &:active { background: get-color-adjust($color: $color-thumb, $level: 4); }
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@mixin scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
}
