@mixin split-line($directions: default, $width: default, $color: default) {
  @include themeify {
    @if $directions == default {
      $directions: top;
    }
    @if $color == default {
      $color: themed(border-color-l);
    }
    @if $width == default {
      $width: 1px;
    }
    border: 0 solid $color;
    @each $direction in $directions {
      @if $direction == top {
        border-top-width: $width;
      }
      @if $direction == right {
        border-right-width: $width;
      }
      @if $direction == bottom {
        border-bottom-width: $width;
      }
      @if $direction == left {
        border-left-width: $width;
      }
    }
  }
}
