@mixin button() {
  display: inline-block;
  // font-weight: map-get($button, font-weight);
  // line-height: 1 !important;
  text-decoration: none !important;
  cursor: pointer;
  // outline: none;
  // @include user-select(none);
  // svg {
  //   width: 1rem;
  //   height: 1rem;
  // }
  // @include disabled() {
  //   cursor: not-allowed;
  // }
}

.button {
  @include button();
}

.button--circle {
  @include inline-flex();
  @include justify-content(center);
  @include align-items(center);
  border-radius: 50%;
  @extend .button--md;
}

.button--md {
  // padding: map-get($button, padding-y) map-get($button, padding-x);
  font-size: map-get($base, font-size);
  &.button--circle {
    width: map-get($button, circle-diameter);
    height: map-get($button, circle-diameter);
  }
}
