/* stylelint-disable scss/no-global-function-names */
@mixin button() {
  display: inline-block;
  font-weight: map-get($button, font-weight);
  line-height: 1 !important;
  text-decoration: none !important;
  outline: none;
  @include user-select(none);
  @include cursor-clickable;
  // svg {
  //   width: 1rem;
  //   height: 1rem;
  // }
  @include disabled() {
    cursor: not-allowed;
  }
}

.button {
  @include button();
}

@mixin button-size($size) {
  padding: map-get($button, padding-y-#{$size}) map-get($button, padding-x-#{$size});
  font-size: map-get($base, font-size-#{$size});
  &.button--circle {
    width: map-get($button, circle-diameter-#{$size});
    height: map-get($button, circle-diameter-#{$size});
  }
}

@mixin button--fill($color, $background-color) {
  @include themeify {
    @include clickable(themed($color), themed($background-color));
  }
}

.button--primary {
  @include button--fill(text-color-1, main-color-1);
}

.button--secondary {
  @include button--fill(text-color-3, main-color-3);
}

.button--success {
  @include button--fill(text-color-function, green);
}

.button--info {
  @include button--fill(text-color-function, blue);
}

.button--warning {
  @include button--fill(text-color-function, yellow);
}

.button--error {
  @include button--fill(text-color-function, red);
}

.button--theme-light {
  @include button--fill(text-color-theme-dark, main-color-theme-light);
}

.button--theme-dark {
  @include button--fill(text-color-theme-light, main-color-theme-dark);
}

@mixin button--outline($color, $background-color) {
  @include themeify {
    color: themed($color);
    border: 1px solid themed($color);
    @include clickable(themed($color), transparent, themed($background-color), themed($color));
  }
}

.button--outline-primary {
  @include button--outline(main-color-1, text-color-1);
}

.button--outline-secondary {
  @include button--outline(text-color-3, main-color-3);
}

.button--outline-success {
  @include button--outline(green, text-color-function);
}

.button--outline-info {
  @include button--outline(blue, text-color-function);
}

.button--outline-warning {
  @include button--outline(yellow, text-color-function);
}

.button--outline-error {
  @include button--outline(red, text-color-function);
}

.button--outline-theme-light {
  @include button--outline(main-color-theme-light, main-color-theme-dark);
}

.button--outline-theme-dark {
  @include button--outline(main-color-theme-dark, main-color-theme-light);
}

.button--pill {
  border-radius: map-get($button, pill-radius);
  @include button-size("md");
}

.button--rounded {
  border-radius: map-get($base, border-radius);
  @include button-size("md");
}

.button--circle {
  @include inline-flex();
  @include justify-content(center);
  @include align-items(center);
  border-radius: 50%;
  @include button-size("md");
}

.button--tag {
  @include inline-flex();
  @include justify-content(center);
  @include align-items(center);
  @include button--outline(text-color-3, main-color-3);
  position: relative;
  padding-right: .5em;
  padding-left: 1em;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  &::before {
    position: absolute;
    top: 50%;
    left: .25em;
    width: .5em;
    height: .5em;
    content: "";
    border-radius: .25rem;
    transform: translateY(-50%);
    @include themeify {
      background: themed(text-color-3);
    }
  }
  @include hover {
    @include themeify {
      &::before {
        background: themed(main-color-3);
      }
    }
  }
}

@mixin make-button-size {
  $sizes: ("xs", "sm", "md", "lg", "xl");

  @each $size in $sizes {
    .button--#{$size} {
      @include button-size($size);
    }
  }
}

// put later for priority reason
@include make-button-size;
