/* stylelint-disable scss/at-extend-no-missing-placeholder */
/* stylelint-disable scss/no-global-function-names */
.image {
  max-width: 100%;
  @extend .image--md;
  &.card--clickable {
    cursor: pointer;
    @include transition(map-get($clickable, transition));
    @include hover {
      @include box-shadow(2);
    }
  }
}
.image--md {
  width: map-get($image, width);
}
.image--xl {
  width: map-get($image, width-xl);
}
.image--lg {
  width: map-get($image, width-lg);
}
.image--sm {
  width: map-get($image, width-sm);
}
.image--xs {
  width: map-get($image, width-xs);
}

