/* stylelint-disable scss/no-global-function-names */
.switch-box {
  @include flexbox();
  @include align-items(center);
  .switch-input {
    position: relative;
    $_h: map-get($base, font-size);
    width: $_h * 2;
    height: $_h;
    border-radius: $_h;
    outline: none;
    @include transition(background .2s map-get($animation-timing-function, 1));
    @include appearance(none);
    @include themeify {
      background: get-color-adjust($color: themed(background-color), $reverse: true);
      border: 1px solid themed(border-color-l);
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      content: "";
      border-radius: 50%;
      @include transition(left .2s map-get($animation-timing-function, 1));
      @include themeify {
        background: themed(background-color);
        border: 1px solid themed(border-color-l);
      }
    }
    &:checked {
      @include themeify {
        background-color: themed(main-color-1);
      }
      &::after {
        left: 50%;
      }
    }
    &:disabled {
      cursor: no-drop;
    }
  }
}
