/* stylelint-disable scss/no-global-function-names */
.block-tabs {
  .tab-navs {
    margin-top: 0;
    margin-bottom: 0;
    @include flexbox();
    @include flex-wrap(wrap);
    .tab-nav {
      @include button;
      @include button--md;
      @include themeify {
        @include button--outline(text-color-3, main-color-3);
      }
      margin-right: -1px;
      $_radius: map-get($base, border-radius);
      &:first-child {
        border-top-left-radius: $_radius;
        border-bottom-left-radius: $_radius;
      }
      &:last-child {
        border-top-right-radius: $_radius;
        border-bottom-right-radius: $_radius;
      }
    }
  }
  .tab-contents {
    .tab-content {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
