/* stylelint-disable scss/no-global-function-names */
.block-tabs {
  margin-top: map-get($spacers, 3);
  .tab-navs {
    margin-top: 0;
    margin-bottom: 0;
    @include flexbox();
    @include flex-wrap(wrap);
    .tab-nav {
      @include button;
      @include button-size("md");
      margin-right: -1px;
      margin-bottom: -1px;
      font-weight: map-get($base, font-weight);
      @include themeify {
        color: themed(text-color-3);
        border: 1px solid themed(border-color);
      }
      @include active {
        font-weight: map-get($base, font-weight-bold);
        @include themeify {
          border-bottom-color: themed(background-color);
        }
      }
      @include flexbox();
      @include align-items(center);
    }
  }
  .tab-contents {
    .tab-content {
      display: none;
      &.active {
        display: block;
      }
      figure.highlight, .highlighter-rouge {
      }
    }
  }
}
