// main colors
$main-color-1: #fc4d50;;
$text-color-1: #fff;

$main-color-2: #fca24d;
$text-color-2: #fff;

$main-color-3: #f2f2f2;
$text-color-3: #333;

// page background
$background-color: #fff;

// text colors
$text-color-theme-light-d: #000;
$text-color-theme-light:   #222;
$text-color-theme-light-l: #888;

$text-color-theme-dark:    rgba(#fff, .7);

$text-color-d: $text-color-theme-light-d;
$text-color: $text-color-theme-light;
$text-color-l: $text-color-theme-light-l;

$text-background-color: rgba(#000, .05);

// header and footer colors
$header-text-color: $text-color-3;
$header-background: $main-color-3;

$footer-text-color: $text-color-3;
$footer-background: $main-color-3;

// border and shadow colors
$border-color-l: mix(#000, $background-color, 10%);

$select-color: rgba($main-color-1, .5);

// logo colors
$mail-color: #0072c5;
$github-color: #000;
