/* stylelint-disable scss/no-global-function-names */
.article__footer {

  .footer {
    margin: map-get($spacers, 4) 0;
    font-size: map-get($base, font-size-sm);
    @include themeify {
      $_top: red; //themed(footer-background-top);
      @if $_top {
        &::before {
          z-index: 3;
          display: block;
          height: 1px;
          content: "";
          background: linear-gradient(90deg, transparent 0, transparent 50%, #fff 50%, #fff 100%), $_top;
          background-size: 15px 20px, 100% 100%;
        }
      }
    }
  }

  .article__license, .article__subscribe {
    a {
      @include themeify {
        @include link-colors(themed(text-color), themed(main-color-1));
      }
    }
  }

  .navigation {
    padding-top: map-get($spacers, 3);
    margin: map-get($spacers, 4) 0 map-get($spacers, 3) 0;
    @include themeify { // for test. same as "@include split-line(top, 4px);"
      @include split-line(top, 4px, themed(border-color-l));
    }
    & > .previous, & > .next {
      & > span {
        font-weight: map-get($base, font-weight-bold);
        @include themeify {
          color: themed(text-color-l);
        }
      }
      & > a {
        display: block;
        @include themeify {
          @include link-colors(themed(text-color), themed(main-color-1));
        }
      }
    }
    & > .previous {
      float: left;
    }
    & > .next {
      float: right;
      text-align: right;
    }
  }
}
