/* stylelint-disable scss/no-global-function-names */
.article__infos {
  .article__author-avatar-wrapper {
    $_width: map-get($image, width-xxs);
    $_border-width: 2px;
    $_border-width-inner: 4px;
    @include themeify {
      $_border-color: themed(border-color-light);
      @if not $_border-color {
        $_border-color: themed(border-color-1);
      }
      background: $_border-color;
    }
    width: $_width;
    height: $_width;
    padding: calc((#{$_border-width} + #{$_border-width-inner}) / 2);
    border-radius: 50%;
    img {
      $img_width: calc(#{$_width} - ((#{$_border-width} + #{$_border-width-inner})));
      width: $img_width;
      height: $img_width;
      border: $_border-width-inner solid #fff;
      border-radius: 50%;
    }
  }
}
