/* stylelint-disable scss/no-global-function-names */
.article__content {
  line-height: map-get($base, line-height-lg);
  word-wrap: break-word;
  h1,
  h2 {
    @include split-line(bottom);
  }
  @include block-elements() {
    margin: map-get($spacers, 3) 0;
  }
  @include heading-elements() {
    margin-top: map-get($spacers, 4);
    // todo
  }
  hr {
    border: none;
    @include horizontal-rules();
  }

}

@media print {

  .article__content {
    line-height: map-get($base, line-height);
    @include block-elements() {
      margin: map-get($spacers, 2) 0;
    }
    @include heading-elements() {
      margin-top: map-get($spacers, 3);
    }

    // .footnotes {
    //   margin-top: map-get($spacers, 2) * 2;
    // }

    ul, ol {
      li {
        p {
          margin: map-get($spacers, 1);
        }
      }
    }

    dl {
      dt, dd {
        p {
          margin: map-get($spacers, 1);
        }
      }
    }

  }
}
