/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable scss/no-global-function-names */
code.highlighter-rouge {
  padding: 0 map-get($spacers, 1);
  // border-radius: map-get($base, border-radius);
  span {
    padding: 0;
    margin: 0;
  }
  @include themeify {
    background-color: rgba(themed(main-color-1), .3);
  }
}
pre {
  @include overflow(auto);
  & > code {
    padding: 0;
    word-wrap: normal;
    @include themeify {
      background-color: transparent;
    }
    // &.language-mermaid, &.language-chart {
    //   svg {
    //     width: 100%;
    //   }
    //   display: none;
    //   &[data-processed] {
    //     display: block;
    //   }
    // }
  }
}

.highlighter-rouge > .highlight, figure.highlight {
  // $_border_radius: map-get($base, border-radius);
  // base style
  & > pre {
    padding: map-get($spacers, 3) 0 map-get($spacers, 3) map-get($spacers, 3);
    margin: 0;
    // border-bottom-right-radius: $_border_radius;
    // border-bottom-left-radius: $_border_radius;
    // @include themeify {
    //   background-color: themed(text-background-color);
    // }
    & > code {
      display: block;
    }
  }
  // show language
  .code-header {
    padding: 0;
    // border-top-left-radius: $_border_radius;
    // border-top-right-radius: $_border_radius;
    @include themeify {
      border: 1px solid themed(border-color);
    }
    @include flexbox();
    @include align-items(stretch);
    @include justify-content(space-between);
    > div {
      padding: map-get($spacers, 1) map-get($spacers, 3);
      // border-radius: $_border_radius;
    }
    .code-lang {
      @include flexbox();
      @include align-items(center);
    }
    .code-toggle-copy {
      border-bottom-right-radius: 0;
      @include button;
      @include flexbox();
      @include align-items(center);
    }
  }
}

.code-wrap code {
  white-space: pre-wrap;
}
