.page__footer {
  .footer {
    @include themeify {
      color: themed(footer-text-color);
      background-color: themed(footer-background);
    }
    a {
      font-weight: map-get($base, font-weight);
      @include themeify {
        @include link-colors(themed(footer-text-color), themed(main-color-1));
      }
    }
    .site-info {
      text-align: center;
    }
  }
}
