.page__footer {
  .footer {
    color: $footer-text-color;
    background-color: $footer-background;
    a {
      font-weight: map-get($base, font-weight);
      @include themeify {
        @include link-colors(themed(footer-text-color), themed(main-color-1));
      }
    }
    .site-info {
      text-align: center;
    }
  }
}
