.page__footer {
  .footer {
    color: $footer-text-color;
    background-color: $footer-background;
    a {
      font-weight: map-get($base, font-weight);
      @include link-colors ($footer-text-color, $main-color-1);
    }
    .site-info {
      text-align: center;
    }
  }
}
