/* stylelint-disable scss/no-global-function-names */
.page__header {
  @include themeify {
    $_top: themed(header-background-top);
    @if $_top {
      padding-top: map-get($spacers, 2);
      background: $_top;
    }
  }
  @include box-shadow();
  .header {
    @include themeify {
      background: themed(header-background);
    }
    a {
      font-weight: map-get($base, font-weight);
      // text-decoration: none !important;
      @include themeify {
        @include link-colors(themed(header-text-color), themed(main-color-1));
      }
    }
    .main {
      @include flexbox();
      max-width: inherit;
    }
  }

  .header__title {
    @include menu(3, 0);
    @include align-items(center);
    @include flex-wrap(nowrap);
    @include flex(1);
    height: map-get($layout, header-height);
    margin-right: map-get($spacers, 3);
    white-space: nowrap;
  }

  .header__brand {
    @include flexbox();

    & > svg {
      @include themeify {
        fill: themed(header-text-color);
      }
      width: map-get($base, font-size-h4) * 1.6;
      height: map-get($base, font-size-h4) * 1.6;
      margin-right: map-get($spacers, 3);
    }
    & > a {
      display: inline-block;
      font-size: map-get($base, font-size-h4);
    }
    .header__brand-title {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .theme-btn {
    margin-left: map-get($spacers, 2);
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .navigation {
    @include overflow(auto, "x");
    @include scrollbar($direction: "horizontal");
    & > ul {
      height: map-get($layout, header-height);
      @include menu(0, 0, nowrap);
      @include align-items(center);
      > li {
        padding-top: map-get($spacers, 2);
        padding-right: map-get($spacers, 3);
        padding-bottom: map-get($spacers, 2);
        &:last-child {
          padding-right: 0;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      position: absolute;
      max-height: 0;
    }
  }

  // nav active
  @mixin nav_item_active {
    .navigation__item-link {
      @include themeify {
        @include link-colors(themed(main-color-1), themed(main-color-1));
      }
    }
  }

  .navigation__item {
    white-space: nowrap;
    .navigation__item-sub_icon {
      display: none;
    }
    @include active() {
      @include nav_item_active();
    }
    @include hover() {
      @include nav_item_active();
      .navigation__item-sub_icon {
        transform: rotate(0deg);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .navigation__item {
      .navigation__item-sub_icon {
        display: inline-block;
        @include transition(transform .2s ease);
        transform: rotate(90deg);
      }
      @include hover() {
        .navigation__item-sub_icon {
          transform: rotate(0deg);
        }
      }
    }
  }

  // sub nav active
  %sub_navigation_active {
    .sub_navigation__item-link {
      @include themeify {
        @include link-colors(themed(main-color-1), themed(main-color-1));
      }
    }
  }
  .sub_navigation__item {
    white-space: nowrap;
    @include hover() {
      @extend %sub_navigation_active;
    }
    @include active() {
      @extend %sub_navigation_active;
    }
  }

  .sub_navigation {
    position: absolute;
    z-index: 9999;
    // display: none;
    max-height: 0;
    overflow: hidden;
    border-bottom-right-radius: map-get($base, border-radius);
    border-bottom-left-radius: map-get($base, border-radius);
    @include themeify {
      background: themed(header-background);
      // opacity: .92;
    }
    & > ul {
      @include menu(3, 0);
      @include menu-direction(vertical);
    }
    .sub_navigation__item {
      padding-right: map-get($button, padding-x-lg);
      padding-left: map-get($button, padding-x-lg);
      margin-top: map-get($button, padding-y);
      white-space: nowrap;
    }
    .sub_navigation__item:last-child {
      margin-bottom: map-get($button, padding-y);
    }
  }
  @include media-breakpoint-up(lg) {
    .sub_navigation {
      @include transition(max-height .3s ease);
      @include box-shadow(2);
    }
    .navigation__item[data-hover-sub_navigation] .sub_navigation {
      max-height: 200000px; // to the end of the world
    }
  }
}
