.page__header {
  .header {
    @include themeify {
      background: themed(header-background);
    }
    a {
      font-weight: map-get($base, font-weight);
      // text-decoration: none !important;
      @include themeify {
        @include link-colors(themed(header-text-color), themed(main-color-1));
      }
    }
    .main {
      @include flexbox();
    }
  }
  
  .header__title {
    @include menu(3, 0);
    @include align-items(center);
    @include flex-wrap(nowrap);
    @include flex(1);
    height: map-get($layout, header-height);
    margin-right: map-get($spacers, 3);
    white-space: nowrap;
  }
  
  .header__brand {
    @include flexbox();
  
    & > svg {
      @include themeify {
        fill: themed(header-text-color);
      }
      width: map-get($base, font-size-h4) * 1.6;
      height: map-get($base, font-size-h4) * 1.6;
      margin-right: map-get($spacers, 3);
    }
    & > a {
      display: inline-block;
      font-size: map-get($base, font-size-h4);
  
    }
  }

  .theme-btn {
    margin-left: map-get($spacers, 2);
  }
  
  .navigation {
    @include overflow(auto, "x");
    & > ul {
      height: map-get($layout, header-height);
      @include menu(3, 2, nowrap);
      @include align-items(center);
  
    }
  }

  // nav active
  @mixin nav_item_active {
    .navigation__item-link {
      @include themeify {
        @include link-colors(themed(main-color-1), themed(main-color-1));
      }
    }
  }
  
  .navigation__item {
    white-space: nowrap;
    @include active() {
      @include nav_item_active();
    }
    @include hover() {
      @include nav_item_active();
      .sub_navigation {
        display: inherit;
      }
    }
  }

  // sub nav active
  .sub_navigation__item {
    white-space: nowrap;
    @include active() {
      .sub_navigation__item-link {
        @include themeify {
          @include link-colors(themed(main-color-1), themed(main-color-1));
        }
      }
    }
  }

  .sub_navigation {
    display: none;
    position: absolute;
    z-index: 9999;
    border-bottom-left-radius: map-get($base, border-radius);
    border-bottom-right-radius: map-get($base, border-radius);
    @include box-shadow();
    @include themeify {
      background: themed(header-background);
      opacity: .8;
    }
    & > ul {
      @include menu(3, 0);
      @include menu-direction(vertical);
    }
    .sub_navigation__item {
      white-space: nowrap;
      padding-left: map-get($button, padding-x);
      padding-right: map-get($button, padding-x);
      margin-top: map-get($button, padding-y);
    }
    .sub_navigation__item:last-child {
      margin-bottom: map-get($button, padding-y);
    }
  }
  
}
