/* stylelint-disable scss/no-global-function-names */
.main {
  max-width: map-get($layout, content-max-width);
  padding: 0 map-get($spacers, 5);
  margin: 0 auto;
  @include media-breakpoint-down(lg) {
    padding: 0 map-get($spacers, 4);
  }
  @include media-breakpoint-down(md) {
    padding: 0 map-get($spacers, 3);
  }
}
