/* stylelint-disable scss/no-global-function-names */
.page__sidebar {
  $_sidebar_width: map-get($layout, sidebar-width);
  position: sticky;
  top: 0;
  z-index: 999;
  width: 80%;
  max-width: $_sidebar_width;
  height: 100vh;
  white-space: nowrap;
  @include split-line(right);
  @include overflow(auto);
  @include transition(transform map-get($animation, duration));
  @include media-breakpoint-down($name: lg, $offset: $_sidebar_width) {
    position: fixed;
    @include transform(translate(- $_sidebar_width, 0));
  }
  @include themeify() {
    color: themed(text-color);
    background-color: themed(background-color);
  }
  @include themeify {
    li, li > div {
      > a {
        color: inherit;
      }
    }
  }
  li, li > div {
    font-size: map-get($base, font-size-root-sm);
    > a {
      font-weight: map-get($base, font-weight);
    }
  }
  li {
    padding: map-get($spacers, 1);
    > ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .title {
    margin-top: map-get($spacers, 2);
    margin-bottom: map-get($spacers, 1);
  }
}
