---
layout: page
type: article
show_article_title: true
---

<div class="layout--article">
  
  <div class="article__header">
    {%- include article-header.html -%}
  </div>

  <div class="article__infos">
    {%- include article-infos.html -%}
  </div>

  <div class="article__content">
    {{ content }}
  </div>

  <div class="article__footer d-print-none">
    {%- include article-footer.html -%}
  </div>

</div>

{%- comment -%}============================================ author ===================================== {%- endcomment -%}

{%- include snippets/assign.html 
  value1=page.enable_article_read_by_count
  value2=layout.enable_article_read_by_count
  value3=site.data.variables.default.page.enable_article_read_by_count -%}
{%- assign _enable_article_read_by_count = __return -%}

{%- if _enable_article_read_by_count -%}
  {%- include snippets/get-accessible-url.html url="/assets/js/dist/article.min.js" -%}
  <script src="{{ __return }}"></script>
{%- endif -%}

