---
layout: none
---
<!DOCTYPE html>
{%- assign _theme = site.color_theme | default: site.data.variables.default.color_theme -%}
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}" data-theme="{{ _theme }}">
  <head>
    {%- include head.html -%}
    {%- include scripts/variables.html -%}
  </head>
  <script>
    {%- include scripts/utils/utils.js -%}
  </script>
  <body>
    <div class="layout--base">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>
  </body>
</html>
