---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include head.html -%}
    {%- include snippets/get-accessible-url.html url="/assets/js/dist/tool-box.min.js" -%}
    <script src="{{ __return }}"></script>
    {%- include snippets/get-accessible-url.html url="/assets/js/data/variables.js" -%}
    <script src="{{ __return }}"></script>
    {%- include snippets/get-accessible-url.html url="/assets/js/dist/lazyLoad.min.js" -%}
    <script src="{{ __return }}"></script>
  </head>
  <body>
    <div class="layout--base">
      {{ content }}
    </div>
    {%- include snippets/get-accessible-url.html url="/assets/js/dist/commons.min.js" -%}
    <script src="{{ __return }}"></script>
  </body>
</html>
