{%- comment -%}
needs
  - item
  - page
{%- endcomment -%}

{%- assign __item = include.item -%}
{%- assign __page = include.page -%}

{%- include snippets/get-nav-url.html path=__item.url -%}
{%- assign __nav_url = __return -%}
{%- include snippets/get-nav-url.html path=__page.url -%}
{%- assign __page_url = __return -%}

{%- assign __nav_active = '' -%}

{%- assign __flag1 = false -%}{%- comment -%}  ================ current nav ================ {%- endcomment -%}
{%- if __nav_url == __page_url -%}
  {%- assign __flag1 = true -%}
{%- endif -%}

{%- assign __flag2 = false -%}{%- comment -%}  ================ nav inner page ================ {%- endcomment -%}
{%- if __item.key != null and __page.nav_key != null and __page.nav_key == __item.key -%}
  {%- assign __flag2 = true -%}
{%- endif -%}

{%- assign __flag3 = false -%}{%- comment -%}  ================ sub nav page ================ {%- endcomment -%}
{%- if __item.key != nil and __flag1==false and __flag2==false -%}
  {%- assign __sub_navs = site.data.navigation.header | where: 'parent', __item.key -%}
  {%- for __sub_nav in __sub_navs -%}
    {%- include snippets/get-nav-active.html 
      item=__sub_nav
      page=__page -%}
    {%- assign __sub_nav_active = __return -%}
    {%- if __sub_nav_active == 'active' -%}
      {%- assign __flag3 = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- if __flag1 or __flag1 or __flag3 -%}
  {%- assign __nav_active = 'active' -%}
{%- endif -%}

{%- assign __return = __nav_active -%}