@function get-color-theme($color, $reverse: default) {
  @if $reverse == default {
    $reverse: false;
  }
  @if lightness($color) < 15% {
    @if $reverse == false {
      @return "dark";
    } @else {
      @return "light";
    }
  } @else {
    @if $reverse == false {
      @return "light";
    } @else {
      @return "dark";
    }
  }
}

/*
  $type = dark/light
*/
@function get-color-adjust($color, $type: default, $level: default, $reverse: default) {
  @if $type == default {
    $type: get-color-theme($color, $reverse);
  }
  @if $level == default {
    $level: 1;
  }
  @if $type == "dark" {
    @return darken($color, map-get($dark, $level));
  } @else {
    @return lighten($color, map-get($light, $level));
  }
}

// @function breakpoint-infix($name, $breakpoints: default) {
//   @if $breakpoints == default {
//     $breakpoints: $responsive;
//   }
//   $min: map-get($breakpoints, $name);
//   @return if($min != 0, "#{$name}-", "");
// }

