@mixin block-elements {
  p,
  ul,
  ol,
  dl {
    @content;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  @include selection() {
    @include themeify() {
      background-color: themed(select-color);
    }
  }
}

/**
 * 1. Prevent adjustments of font size after orientation changes in iOS.
 **/

html {
  font-size: map-get($base, font-size-root);
  -webkit-text-size-adjust: 100%; /* 1 */
  @media print {
    font-size: map-get($base, font-size-root-sm);
  }
}

body {
  padding: 0;
  margin: 0;
  font: map-get($base, font-weight) #{map-get($base, font-size)}/#{map-get($base, line-height)} map-get($base, font-family);
}

@include block-elements() {
  padding: 0;
  margin: map-get($spacers, 2) 0;
}

a {
  font-weight: map-get($base, font-weight-bold);
  @include themeify {
    @include link-colors(themed(main-color-1));
  }
}
