.layout--page {
  .page__viewport {
    width: 100vw;
    height: 100vh;
  }
}

.page__main {
  height: 100%;
}

.page__main-inner {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include themeify() {
    color: themed(text-color);
    background-color: themed(background-color);
  }
}

.page__content {
  @include flex(1);
}
