/* stylelint-disable color-hex-case */
/* stylelint-disable color-named */
/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable order/properties-order */
/* stylelint-disable color-hex-length */
/* stylelint-disable block-no-empty */
/* stylelint-disable declaration-block-trailing-semicolon */

// MONOKAI
// https://raw.githubusercontent.com/jwarby/pygments-css/master/monokai.css

%monokai {
  $_comment: #68bb1a;
  pre { color: #ffffff; background-color: #272822; }
  .hll { background-color: #272822; }
  .c { color: $_comment } /* Comment */
  .err { color: #960050; background-color: #1e0010 } /* Error */
  .k { color: #66d9ef } /* Keyword */
  .l { color: #ae81ff } /* Literal */
  .n { color: #f8f8f2 } /* Name */
  .o { color: #f92672 } /* Operator */
  .p { color: #f8f8f2 } /* Punctuation */
  .cm { color: $_comment } /* Comment.Multiline */
  .cp { color: $_comment } /* Comment.Preproc */
  .c1 { color: $_comment } /* Comment.Single */
  .cs { color: $_comment } /* Comment.Special */
  .ge { font-style: italic } /* Generic.Emph */
  .gs { font-weight: bold } /* Generic.Strong */
  .kc { color: #66d9ef } /* Keyword.Constant */
  .kd { color: #66d9ef } /* Keyword.Declaration */
  .kn { color: #f92672 } /* Keyword.Namespace */
  .kp { color: #66d9ef } /* Keyword.Pseudo */
  .kr { color: #66d9ef } /* Keyword.Reserved */
  .kt { color: #66d9ef } /* Keyword.Type */
  .ld { color: #e6db74 } /* Literal.Date */
  .m { color: #ae81ff } /* Literal.Number */
  .s { color: #e6db74 } /* Literal.String */
  .na { color: #a6e22e } /* Name.Attribute */
  .nb { color: #f8f8f2 } /* Name.Builtin */
  .nc { color: #a6e22e } /* Name.Class */
  .no { color: #66d9ef } /* Name.Constant */
  .nd { color: #a6e22e } /* Name.Decorator */
  .ni { color: #f8f8f2 } /* Name.Entity */
  .ne { color: #a6e22e } /* Name.Exception */
  .nf { color: #a6e22e } /* Name.Function */
  .nl { color: #f8f8f2 } /* Name.Label */
  .nn { color: #f8f8f2 } /* Name.Namespace */
  .nx { color: #a6e22e } /* Name.Other */
  .py { color: #f8f8f2 } /* Name.Property */
  .nt { color: #f92672 } /* Name.Tag */
  .nv { color: #f8f8f2 } /* Name.Variable */
  .ow { color: #f92672 } /* Operator.Word */
  .w { color: #f8f8f2 } /* Text.Whitespace */
  .mf { color: #ae81ff } /* Literal.Number.Float */
  .mh { color: #ae81ff } /* Literal.Number.Hex */
  .mi { color: #ae81ff } /* Literal.Number.Integer */
  .mo { color: #ae81ff } /* Literal.Number.Oct */
  .sb { color: #e6db74 } /* Literal.String.Backtick */
  .sc { color: #e6db74 } /* Literal.String.Char */
  .sd { color: #e6db74 } /* Literal.String.Doc */
  .s2 { color: #e6db74 } /* Literal.String.Double */
  .se { color: #ae81ff } /* Literal.String.Escape */
  .sh { color: #e6db74 } /* Literal.String.Heredoc */
  .si { color: #e6db74 } /* Literal.String.Interpol */
  .sx { color: #e6db74 } /* Literal.String.Other */
  .sr { color: #e6db74 } /* Literal.String.Regex */
  .s1 { color: #e6db74 } /* Literal.String.Single */
  .ss { color: #e6db74 } /* Literal.String.Symbol */
  .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
  .vc { color: #f8f8f2 } /* Name.Variable.Class */
  .vg { color: #f8f8f2 } /* Name.Variable.Global */
  .vi { color: #f8f8f2 } /* Name.Variable.Instance */
  .il { color: #ae81ff } /* Literal.Number.Integer.Long */

  .gh { } /* Generic Heading & Diff Header */
  // .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
  .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
  .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
}


%fruity {
  pre { color: #ffffff; background-color: #333; }
  .hll { background-color: #333333 }
  .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
  .err { color: #ffffff } /* Error */
  .g { color: #ffffff } /* Generic */
  .k { color: #fb660a; font-weight: bold } /* Keyword */
  .l { color: #ffffff } /* Literal */
  .n { color: #ffffff } /* Name */
  .o { color: #ffffff } /* Operator */
  .x { color: #ffffff } /* Other */
  .p { color: #ffffff } /* Punctuation */
  .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
  .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
  .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
  .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
  .gd { color: #ffffff } /* Generic.Deleted */
  .ge { color: #ffffff } /* Generic.Emph */
  .gr { color: #ffffff } /* Generic.Error */
  .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
  .gi { color: #ffffff } /* Generic.Inserted */
  .go { color: #444444; background-color: #222222 } /* Generic.Output */
  .gp { color: #ffffff } /* Generic.Prompt */
  .gs { color: #ffffff } /* Generic.Strong */
  .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
  .gt { color: #ffffff } /* Generic.Traceback */
  .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
  .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
  .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
  .kp { color: #fb660a } /* Keyword.Pseudo */
  .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
  .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
  .ld { color: #ffffff } /* Literal.Date */
  .m { color: #0086f7; font-weight: bold } /* Literal.Number */
  .s { color: #0086d2 } /* Literal.String */
  .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
  .nb { color: #ffffff } /* Name.Builtin */
  .nc { color: #ffffff } /* Name.Class */
  .no { color: #0086d2 } /* Name.Constant */
  .nd { color: #ffffff } /* Name.Decorator */
  .ni { color: #ffffff } /* Name.Entity */
  .ne { color: #ffffff } /* Name.Exception */
  .nf { color: #ff0086; font-weight: bold } /* Name.Function */
  .nl { color: #ffffff } /* Name.Label */
  .nn { color: #ffffff } /* Name.Namespace */
  .nx { color: #ffffff } /* Name.Other */
  .py { color: #ffffff } /* Name.Property */
  .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
  .nv { color: #fb660a } /* Name.Variable */
  .ow { color: #ffffff } /* Operator.Word */
  .w { color: #888888 } /* Text.Whitespace */
  .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
  .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
  .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
  .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
  .sb { color: #0086d2 } /* Literal.String.Backtick */
  .sc { color: #0086d2 } /* Literal.String.Char */
  .sd { color: #0086d2 } /* Literal.String.Doc */
  .s2 { color: #0086d2 } /* Literal.String.Double */
  .se { color: #0086d2 } /* Literal.String.Escape */
  .sh { color: #0086d2 } /* Literal.String.Heredoc */
  .si { color: #0086d2 } /* Literal.String.Interpol */
  .sx { color: #0086d2 } /* Literal.String.Other */
  .sr { color: #0086d2 } /* Literal.String.Regex */
  .s1 { color: #0086d2 } /* Literal.String.Single */
  .ss { color: #0086d2 } /* Literal.String.Symbol */
  .bp { color: #ffffff } /* Name.Builtin.Pseudo */
  .vc { color: #fb660a } /* Name.Variable.Class */
  .vg { color: #fb660a } /* Name.Variable.Global */
  .vi { color: #fb660a } /* Name.Variable.Instance */
  .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */
}


// https://raw.githubusercontent.com/jwarby/pygments-css/master/zenburn.css
%zenburn {
  code, pre { color:#fdce93; background-color:#3f3f3f; }
  .hll { background-color:#222; }
  .err { color:#e37170; background-color:#3d3535; }
  .k { color:#f0dfaf; }
  // .p { color:#41706f; }
  .cs { color:#cd0000; font-weight:700; }
  .gd { color:#cd0000; }
  .ge { color:#ccc; font-style:italic; }
  .gr { color:red; }
  .go { color:gray; }
  .gs { color:#ccc; font-weight:700; }
  .gu { color:purple; font-weight:700; }
  .gt { color:#0040D0; }
  .kc { color:#dca3a3; }
  .kd { color:#ffff86; }
  .kn { color:#dfaf8f; font-weight:700; }
  .kp { color:#cdcf99; }
  .kr { color:#cdcd00; }
  .ni { color:#c28182; }
  .ne { color:#c3bf9f; font-weight:700; }
  .nn { color:#8fbede; }
  .vi { color:#ffffc7; }
  .c, .g, .cm, .cp, .c1 { color:#7f9f7f; }
  .l, .x, .no, .nd, .nl, .nx, .py, .w { color:#ccc; }
  .n, .nv, .vg { color:#dcdccc; }
  .o, .ow { color:#f0efd0; }
  .gh, .gp { color:#dcdccc; font-weight:700; }
  .gi, .kt { color:#00cd00; }
  .ld, .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { color:#cc9393; }
  .m, .mf, .mh, .mi, .mo, .il { color:#8cd0d3; }
  .na, .nt { color:#9ac39f; }
  .nb, .nc, .nf, .bp, .vc { color:#efef8f; }
}
